<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TypeScript Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ts</string>
				<string>tsx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/typescript</string>
				<string>text/typescript</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>dev.gamecat.typescript-source</string>
				<string>public.mpeg-2-transport-stream</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>C# Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cs</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>dev.gamecat.csharp-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>C# Project</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csproj</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>dev.gamecat.csharp-project</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>List File</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>list</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>dev.gamecat.list-file</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Markdown</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>md</string>
				<string>markdown</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.markdown</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>QuickLook Extended XML</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>runsettings</string>
				<string>targets</string>
				<string>xsd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>dev.gamecat.extended-xml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>QuickLook Extended Build File</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cmake</string>
				<string>sln</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>dev.gamecat.build-file</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GraphQL Source</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>graphql</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>dev.gamecat.graphql-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Xcode Project</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xcodeproj</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.project</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Xcode Project Data</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pbxproj</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.projectdata</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Terraform</string>
			<key>UTTypeIdentifier</key>
			<string>dev.gamecat.terraform</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tf</string>
					<string>tfvars</string>
					<string>hcl</string>
					<string>nomad</string>
					<string>tfstate</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>QuickLook Extended XML</string>
			<key>UTTypeIdentifier</key>
			<string>dev.gamecat.extended-xml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>runsettings</string>
					<string>targets</string>
					<string>xsd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>QuickLook Extended Build File</string>
			<key>UTTypeIdentifier</key>
			<string>dev.gamecat.build-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cmake</string>
					<string>sln</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GraphQL Source</string>
			<key>UTTypeIdentifier</key>
			<string>dev.gamecat.graphql-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>graphql</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>QuickLook Extended Source</string>
			<key>UTTypeIdentifier</key>
			<string>dev.gamecat.extended-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
						<string>bash</string>
						<string>c</string>
						<string>cpp</string>
						<string>cue</string>
						<string>fish</string>
						<string>go</string>
					<string>gradle</string>
					<string>groovy</string>
					<string>h</string>
					<string>hpp</string>
					<string>java</string>
					<string>js</string>
					<string>jsx</string>
					<string>kt</string>
					<string>kts</string>
					<string>m</string>
					<string>mm</string>
					<string>podspec</string>
					<string>ps1</string>
					<string>py</string>
					<string>rb</string>
					<string>rs</string>
					<string>sh</string>
					<string>sql</string>
					<string>swift</string>
					<string>zsh</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>C# Source</string>
			<key>UTTypeIdentifier</key>
			<string>dev.gamecat.csharp-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cs</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>C# Project</string>
			<key>UTTypeIdentifier</key>
			<string>dev.gamecat.csharp-project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>csproj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>List File</string>
			<key>UTTypeIdentifier</key>
			<string>dev.gamecat.list-file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>list</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TypeScript Source</string>
			<key>UTTypeIdentifier</key>
			<string>dev.gamecat.typescript-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ts</string>
					<string>tsx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/typescript</string>
					<string>text/typescript</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>QuickLook Extended Config</string>
			<key>UTTypeIdentifier</key>
			<string>dev.gamecat.extended-config</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cfg</string>
					<string>conf</string>
					<string>config</string>
					<string>dockerfile</string>
					<string>dockerignore</string>
					<string>editorconfig</string>
					<string>entitlements</string>
					<string>env</string>
					<string>gemrc</string>
					<string>gitattributes</string>
					<string>gitignore</string>
					<string>ini</string>
					<string>kubeconfig</string>
					<string>lock</string>
					<string>log</string>
					<string>npmrc</string>
					<string>properties</string>
					<string>props</string>
					<string>rst</string>
					<string>service</string>
					<string>toml</string>
					<string>xcconfig</string>
					<string>yarnrc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>QuickLook Extended JSON</string>
			<key>UTTypeIdentifier</key>
			<string>dev.gamecat.extended-json</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>json</string>
					<string>jsonnet</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>QuickLook Extended Certificate</string>
			<key>UTTypeIdentifier</key>
			<string>dev.gamecat.extended-certificate</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>crt</string>
					<string>csr</string>
					<string>pem</string>
					<string>pub</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xcode Project</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xcodeproj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YAML</string>
			<key>UTTypeIdentifier</key>
			<string>public.yaml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>yaml</string>
					<string>yml</string>
					<string>kubeconfig</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-yaml</string>
					<string>text/yaml</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
